@model wardrobe.Models.Sho

@{
    ViewBag.Title = "Details";
}

<h2 class="h2hero">Details</h2>

<div>
    <h4 class="h4hero">Shoe</h4>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <img src="@Url.Content(Model.ShoePhoto)" height="200" />
        </div>
        <div class="col-lg-8">

            <h3 class="h3hero"><span class="label label-primary">Name:</span>@Html.DisplayFor(model => model.ShoeName)</h3>
            <h3 class="h3hero"><span class="label label-primary">Type:</span> @Html.DisplayFor(model => model.ShoeType)</h3>
            <h3 class="h3hero"><span class="label label-primary">Color:</span>@Html.DisplayFor(model => model.ShoeColor)</h3>
            <h3 class="h3hero"><span class="label label-primary">Season:</span> @Html.DisplayFor(model => model.ShoeSeason)</h3>
            <h3 class="h3hero"><span class="label label-primary">Occasion:</span>@Html.DisplayFor(model => model.ShoeOccasion)</h3>
        </div>
    </div>
    <div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }, new { @class = " btn btn-primary", role = "button" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = " btn btn-primary", role = "button" })
        </p>
    </div>
</div>    