@model wardrobe.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>Heroic Pants Details</h2>

<div>
    @* The details page uses the thumbnail and labels to make the quick details *@
    <h4 class="h4hero">Bottom</h4>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <img src="@Url.Content(Model.BottomPhoto)" height="200" />
        </div>
        <div class="col-lg-8">

            <h3 class="h3hero"><span class="label label-primary">Name:</span>@Html.DisplayFor(model => model.BottomName)</h3>
            <h3 class="h3hero"><span class="label label-primary">Type:</span> @Html.DisplayFor(model => model.BottomType)</h3>
            <h3 class="h3hero"><span class="label label-primary">Color:</span>@Html.DisplayFor(model => model.BottomColor)</h3>
            <h3 class="h3hero"><span class="label label-primary">Season:</span> @Html.DisplayFor(model => model.BottomSeason)</h3>
            <h3 class="h3hero"><span class="label label-primary">Occasion:</span>@Html.DisplayFor(model => model.BottomOccasion)</h3>
        </div>
    </div>
    <div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }, new { @class = " btn btn-primary", role = "button" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = " btn btn-primary", role = "button" })
        </p>
    </div>
</div>    
