@model IEnumerable<wardrobe.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2 class="h2hero">Index</h2>
<!-- Split button -->
<div>
    @Html.ActionLink("Create New", "Create", null, new { @class = " btn btn-primary", role = "button" })
</div>

<p>

</p>
@* Created the thumbnail row/col for heroes *@
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-lg-6 col-md-6">
            <div class="thumbnail reviewthumb">

                <h3 class="text-center">@Html.DisplayFor(modelItem => item.BottomName)</h3>
                <img src="@Url.Content(item.BottomPhoto)" height="100" />
                <div class="text-center">
                    <div class="btn-group">
                        @Html.ActionLink("Details", "Details", new { id = item.BottomID }, new { @class = " btn btn-warning", role = "button" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.BottomID }, new { @class = " btn btn-warning", role = "button" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.BottomID }, new { @class = " btn btn-warning", role = "button" })
                    </div>
                </div>
            </div>
        </div>


    }
</div>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BottomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BottomPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BottomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BottomColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BottomSeason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BottomOccasion)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BottomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BottomPhoto)
                <img src="@Url.Content(item.BottomPhoto)" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BottomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BottomColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BottomSeason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BottomOccasion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BottomID }) |
                @Html.ActionLink("Details", "Details", new { id=item.BottomID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BottomID })
            </td>
        </tr>
    }

    </table>*@
