@model wardrobe.Models.Accessory

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2 class="h2hero">Details</h2>

    <h4 class="h4hero">Accessory</h4>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <img src="@Url.Content(Model.AccessoryPhoto)" height="100" />
        </div>
        <div class="col-lg-8">

            <h3 class="h3hero"><span class="label label-primary">Name:</span>@Html.DisplayFor(model => model.AccessoryName)</h3>
            <h3 class="h3hero"><span class="label label-primary">Type:</span> @Html.DisplayFor(model => model.AccessoryType)</h3>
            <h3 class="h3hero"><span class="label label-primary">Color:</span>@Html.DisplayFor(model => model.AccessoryColor)</h3>
            <h3 class="h3hero"><span class="label label-primary">Season:</span> @Html.DisplayFor(model => model.AccessorySeason)</h3>
            <h3 class="h3hero"><span class="label label-primary">Occasion:</span>@Html.DisplayFor(model => model.AccessoryOccasion)</h3>
        </div>
    </div>
    <div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoryID }, new { @class = " btn btn-primary", role = "button" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = " btn btn-primary", role = "button" })
        </p>
    </div>
</div>    
