@model IEnumerable<wardrobe.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2 class="h2hero">Index</h2>
<!-- button for creation -->
<div>
    @Html.ActionLink("Create New", "Create", null, new { @class = " btn btn-primary", role = "button" })
</div>

<p>
  
</p>
@* Created the thumbnail row/col for heroes *@
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-lg-6 col-md-6">
            <div class="thumbnail reviewthumb">

                <h3 class="text-center">@Html.DisplayFor(modelItem => item.AccessoryName)</h3>
                <img src="@Url.Content(item.AccessoryPhoto)" height="100" />
                <div class="text-center">
                    <div class="btn-group">
                        @Html.ActionLink("Details", "Details", new { id = item.AccessoryID }, new { @class = " btn btn-warning", role = "button" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.AccessoryID }, new { @class = " btn btn-warning", role = "button" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.AccessoryID }, new { @class = " btn btn-warning", role = "button" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

