@model wardrobe.Models.Outfit

@{
    ViewBag.Title = "Details";
}

<h2 class="h2hero">Details</h2>

<div>
    <h4 class="h4hero">Outfit</h4>
    @* details were changed to a row/col with the photo first then next to it the info all customized *@
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <img src="@Url.Content(Model.OutfitPhoto)" height="350" />
        </div>
        <div class="col-lg-8">

            <h3 class="h3hero"><span class="label label-primary">Name:</span>@Html.DisplayFor(model => model.OutfitName)</h3>
            <h3 class="h3hero"><span class="label label-primary">Accessory:</span> @Html.DisplayFor(model => model.Accessory.AccessoryName)</h3>
            <h3 class="h3hero"><span class="label label-primary">Bottom:</span>@Html.DisplayFor(model => model.Bottom.BottomName)</h3>
            <h3 class="h3hero"><span class="label label-primary">Shoe:</span> @Html.DisplayFor(model => model.Sho.ShoeName)</h3>
            <h3 class="h3hero"><span class="label label-primary">Top:</span>@Html.DisplayFor(model => model.Top.TopName)</h3>
        </div>
    </div>
    <div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.OutfitID }, new { @class = " btn btn-primary", role = "button" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = " btn btn-primary", role = "button" })
        </p>
    </div>
</div>    
